/*
 * Copyright (c) 2014, 2015 FUKAUMI Naoki <naobsd@gmail.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "rk3288.dtsi"
#include <dt-bindings/sensor-dev.h>

/ {
	model = "RK3288-Coreboard";
	compatible = "rk3288-core, board", "rockchip,rk3288";

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	hall_sensor: hall-mh248 {
		compatible = "hall-mh248";
		pinctrl-names = "default";
		pinctrl-0 = <&mh248_irq_gpio>;
		irq-gpio = <&gpio5 18 IRQ_TYPE_EDGE_BOTH>;
		hall-active = <1>;
		status = "okay";
	};

	sound: sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,sound";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";

		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s>;
			};

			codec {
				sound-dai = <&rt5670>;
			};
		};
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc1v8_pmupll: vcc1v8-pmupll {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_pmupll";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_sys>;
	};

	vdd_10: vdd-10 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_10";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc1v8_pmupll>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";

		pwms = <&pwm1 0 25000>;
		pwm-dutycycle-range = <100 0>;

		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <925000>;
		regulator-max-microvolt = <1400000>;
		vin-supply = <&vcc_sys>;
		status = "okay";
	};

	vcc18_lcd: vcc_1v8: vcc_18: vcc-18 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_18";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc1v8_pmupll>;
	};

	vdd_3v3: vcc_io: vccio_wl: vdd-33 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_33";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_gmac: vccio_sd: vcc-gmac {
		compatible = "regulator-fixed";
		regulator-name = "vcc_gmac";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
	};

	vdd10_lcd: vdd10-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vdd10_lcd";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		vin-supply = <&vcc_18>;
	};

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
	};

	vccio_rf: vccio-rf {
		compatible = "regulator-fixed";
		regulator-name = "vccio_rf";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
	};

	vccio_codec: vccio-codec {
		compatible = "regulator-fixed";
		regulator-name = "vccio_codec";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
	};

	vcc18_dvp: vcc18-dvp {
		compatible = "regulator-fixed";
		regulator-name = "vcc18_dvp";
		gpio = <&gpio1 17 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&dvp_pwr>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc1v8_pmupll>;
	};

	vccio_flash: vccio-flash {
 		compatible = "regulator-fixed";
		regulator-name = "vccio_flash";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;  
	};

	vcc_wl: vcc_wl {
		compatible = "regulator-fixed";
		gpio = <&gpio4 28 GPIO_ACTIVE_LOW>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_reg_on>;
		regulator-name = "vcc_wl";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6335";
		sdio_vref = <3300>;

		WIFI,host_wake_irq = <&gpio4 30 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&cif_isp0 {
	rockchip,camera-modules-attached = <&camera0>;
	status = "okay";
};

&cpu0 {
	cpu0-supply = <&vdd_cpu>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk>, <&emmc_cmd>, <&emmc_pwr>, <&emmc_bus8>;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vccio_flash>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	vdd_cpu: syr827@40 {
		compatible = "silergy,syr827";
		fcs,suspend-voltage-selector = <1>;
		reg = <0x40>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-enable-ramp-delay = <300>;
		regulator-ramp-delay = <8000>;
		vin-supply = <&vcc_sys>;
	};

	vdd_gpu: syr828@41 {
		compatible = "silergy,syr828";
		fcs,suspend-voltage-selector = <1>;
		reg = <0x41>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on;
		regulator-ramp-delay = <6000>;
		vin-supply = <&vcc_sys>;
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	mpu6500@68 {
		status = "disabled";
		compatible = "invensense,mpu6500";
		pinctrl-names = "default";
		pinctrl-0 = <&mpu6500_irq_gpio>;
		reg = <0x68>;
		irq-gpio = <&gpio8 2 IRQ_TYPE_EDGE_RISING>;
		mpu-int_config = <0x10>;
		mpu-level_shifter = <0>;
		mpu-orientation = <1 0 0 0 1 0 0 0 1>;
		orientation-x= <1>;
		orientation-y= <1>;
		orientation-z= <0>;
		support-hw-poweroff = <1>;
		mpu-debug = <1>;
	};

	sensor@48 {
		status = "okay";
		compatible = "light_cm3218";
		pinctrl-names = "default";
		pinctrl-0 = <&cm3218_irq_gpio>;
		reg = <0x48>;
		type = <SENSOR_TYPE_LIGHT>;
		irq-gpio = <&gpio8 3 IRQ_TYPE_EDGE_FALLING>;
		irq_enable = <1>;
		poll_delay_ms = <30>;
	};
};

&i2c2 {
	status = "okay";

	rt5670: rt5670@1c {
		#sound-dai-cells = <0>;
		compatible = "rt5670";
		reg = <0x1c>;
		clocks = <&cru SCLK_I2S0_OUT>;
		clock-names = "mclk";
		spk-con-gpio = <&gpio7 15 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk>, <&spk_stl>;
	};
};

&i2c3 {
	status = "okay";
	clock-frequency = <100000>;

	camera0: camera-module@10 {
		status = "okay";
		compatible ="Semiconductor,ar0230-v4l2-i2c-subdev";
		reg = <0x10>;
		device_type = "v4l2-i2c-subdev";

		clocks = <&cru SCLK_VIP_OUT>;
		clock-names = "clk_cif_out";

		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		pinctrl-0 = <&isp_dvp_pins>;
		pinctrl-1 = <&isp_dvp_sleep>;

		rockchip,camera-module-mclk-name = "clk_cif_out";
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "cmk-cb0695-fv1";
		rockchip,camera-module-len-name = "lg9569a2";
		rockchip,camera-module-fov-h = "60.0";
		rockchip,camera-module-fov-v = "60.0";
		rockchip,camera-module-orientation = <0>;
		rockchip,camera-module-iq-flip = <0>;
		rockchip,camera-module-iq-mirror = <0>;
		rockchip,camera-module-flip = <0>;
		rockchip,camera-module-mirror = <0>;

		rockchip,camera-module-defrect0 = <1928 1088 0 0 1928 1088>;
		rockchip,camera-module-flash-support = <0>;
		rockchip,camera-module-mipi-dphy-index = <0>;
	};
};

&i2s {
	#sound-dai-cells = <0>;
	status = "okay";
};

&io_domains {
	status = "okay";

	audio-supply = <&vccio_codec>;
	bb-supply = <&vccio_rf>;
	dvp-supply = <&vcc18_dvp>;
	flash0-supply = <&vccio_flash>;
	flash1-supply = <&vcc_gmac>;
	gpio30-supply = <&vcc_io>;
	gpio1830-supply = <&vcc_io>;
	lcdc-supply = <&vcc_lcd>;
	sdcard-supply = <&vccio_sd>;
	wifi-supply = <&vcc_wl>;
};

&isp_mmu {
	status = "okay";
};

&rga {
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_18>;
	status = "okay";
};


&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	card-detect-delay = <200>;
	disable-wp;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk>, <&sdmmc_cmd>, <&sdmmc_cd>, <&sdmmc_bus4>;
	supports-sd;
	vmmc-supply = <&vccio_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&sdio0 {
	clock-frequency = <50000000>;
	clock-freq-min-max = <200000 50000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk &sdio0_int>;
	vmmc-supply = <&vcc_wl>;
	supports-sdio;
	status = "okay";
};

&spdif {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_clk>, <&spi0_cs0>, <&spi0_tx>, <&spi0_rx>, <&spi0_cs1>;
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

/*
&pwm0 {
	status = "okay";
	interrupts = <GIC_SPI 78 IRQ_TYPE_LEVEL_HIGH 0>;
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <0>;
	handle_cpu_id = <0>;

	ir_key1{
		rockchip,usercode = <0xf933>;
		rockchip,key_table =
			<0x1c   KEY_0>;
	};
};
*/

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>, <&uart0_cts>;
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbphy {
	status = "okay";
};

&usb_host1 {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&vpu_service {
	status = "okay";
};

&wdt {
	status = "okay";
};

&pinctrl {
	pcfg_output_high: pcfg-output-high {
		output-high;
	};

	pcfg_output_low: pcfg-output-low {
		output-low;
	};

	pcfg_pull_none_drv_8ma: pcfg-pull-none-drv-8ma {
		drive-strength = <8>;
	};

	pcfg_pull_up_drv_8ma: pcfg-pull-up-drv-8ma {
		bias-pull-up;
		drive-strength = <8>;
	};

	cam_pins {
		cam0_default_pins: cam0-default-pins {
			rockchip,pins = <2 11 RK_FUNC_1 &pcfg_pull_none>;
		};
		cam0_sleep_pins: cam0-sleep-pins {
			rockchip,pins = <2 11 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		isp_dvp_pins: isp-dvp-pins {
			rockchip,pins =
			/*cif_data2*/
			<2 0 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data3*/
			<2 1 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data4*/
			<2 2 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data5*/
			<2 3 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data6*/
			<2 4 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data7*/
			<2 5 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data8*/
			<2 6 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data9*/
			<2 7 RK_FUNC_1 &pcfg_pull_none>,
			/* cif_vsync */
			<2 8 RK_FUNC_1 &pcfg_pull_none>,
			/* cif_href */
			<2 9 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_clkin*/
			<2 10 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_clkout*/
			<2 11 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data0*/
			<2 12 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data1*/
			<2 13 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data10*/
			<2 14 RK_FUNC_1 &pcfg_pull_none>,
			/*cif_data11*/
			<2 15 RK_FUNC_1 &pcfg_pull_none>;
		};
		isp_dvp_sleep: isp-dvp-sleep {
			rockchip,pins =
			/*cif_data2*/
			<2 0 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data3*/
			<2 1 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data4*/
			<2 2 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data5*/
			<2 3 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data6*/
			<2 4 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data7*/
			<2 5 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data8*/
			<2 6 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data9*/
			<2 7 RK_FUNC_GPIO &pcfg_pull_none>,
			/* cif_vsync */
			<2 8 RK_FUNC_GPIO &pcfg_pull_none>,
			/* cif_href */
			<2 9 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_clkin*/
			<2 10 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_clkout*/
			<2 11 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data0*/
			<2 12 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data1*/
			<2 13 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data10*/
			<2 14 RK_FUNC_GPIO &pcfg_pull_none>,
			/*cif_data11*/
			<2 15 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	cm3218 {
		cm3218_irq_gpio: cm3218-irq-gpio {
			rockchip,pins = <8 3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	hallsensor {
		mh248_irq_gpio: mh248-irq-gpio {
			rockchip,pins = <5 18 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	mpu6500 {
		mpu6500_irq_gpio: mpu6500-irq-gpio {
			rockchip,pins = <8 2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	audio {
		spk_stl: spk-ctl {
			rockchip,pins = <7 15 RK_FUNC_GPIO &pcfg_output_high>;
		 };
	};

	regulator {
		dvp_pwr: dvp-pwr {
			rockchip,pins = <0 17 RK_FUNC_GPIO &pcfg_output_high>;
		 };	
	};

	sdmmc {
		/*
		 * Default drive strength isn't enough to achieve even
		 * high-speed mode on firefly board so bump up to 8ma.
		 */
		sdmmc_bus4: sdmmc-bus4 {
			rockchip,pins = <6 16 RK_FUNC_1 &pcfg_pull_up_drv_8ma>,
					<6 17 RK_FUNC_1 &pcfg_pull_up_drv_8ma>,
					<6 18 RK_FUNC_1 &pcfg_pull_up_drv_8ma>,
					<6 19 RK_FUNC_1 &pcfg_pull_up_drv_8ma>;
		};

		sdmmc_clk: sdmmc-clk {
			rockchip,pins = <6 20 RK_FUNC_1 &pcfg_pull_none_drv_8ma>;
		};

		sdmmc_cmd: sdmmc-cmd {
			rockchip,pins = <6 21 RK_FUNC_1 &pcfg_pull_up_drv_8ma>;
		};

		sdmmc_pwr: sdmmc-pwr {
			rockchip,pins = <7 11 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb_host {
		host_vbus_drv: host-vbus-drv {
			rockchip,pins = <0 14 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb_otg {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <0 12 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless {
		wifi_reg_on: wifi-reg-on {
			rockchip,pins = <4 28 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart0_gpios: uart0-gpios {
			rockchip,pins = <4 19 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

